<nav>
    <div class="site-title">
        <a href="/blogs"><h1>Blog App</h1></a>
        <p>Defaults Blogs</p>
    </div>
    <ul>
        <li><a href="/blogs/">Blog</a></li>
        <li><a href="/blogs/about">About us</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>