<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defaults Blog |<%= title%></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">Blog App</a>
            <h3>DEFAULTS BLOG</h3>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav>
    <div class="create-blogs content">
        <form>
            <label for="title">Blog Title:</label>
            <input type="text" id="title" required>
            <label for="snippet">Blog Snippet:</label>
            <input type="text" id="snippet" required>
            <label for="body">Blog Body:</label>
            <textarea id="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>